
#uiWrapper{
  padding: 10px;
  width: 100%;
  height: 100%;
}

.ant{
    z-index: 100;
    position: absolute;
    filter: hue-rotate(180deg);
    filter: brightness(0.05);
}

.antDown{
  z-index: 100;
  position: absolute;
  filter: hue-rotate(180deg);
}

.antSelected{
  -webkit-animation: borderBlink 1s step-end infinite;    
  animation: borderBlink 1s step-end infinite;   
  border:2px dotted red;
}

@-webkit-keyframes borderBlink {    
  from, to {    
      border-color: transparent    
  }    
  50% {    
      border-color: black    
  }    
}  

@keyframes borderBlink {    
  from, to {    
      border-color: transparent    
  }    
  50% {    
      border-color: red    
  }    
}   

.antX{
    z-index: 100;
    position: absolute;
    filter: invert(100%); 
    height: 50px;
    margin-left: 10px;
    margin-top: -5px;
}

.antsContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90;
}

.trangeContainer{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#grid{
  margin-top: 5px;
}

#gridContainer {
    min-height: 550px;
    color:#fff;
    text-align:center;
    background-image: url('../../images/bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;

    -webkit-animation: backgroundScroll;
    -webkit-animation-delay: 1;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    
    animation: backgroundScroll;
    animation-delay: 1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -180px 0px;}
}
@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -180px 0px;}
}


.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 120px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 0.2s ease-out backwards;
}

.circleWarn {
  stroke: rgba(130, 240, 4, 0.692);
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 0.2s ease-out backwards;
}

.circleWarnSv {
  stroke: rgba(255, 255, 0, 0.747);
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 0.2s ease-out backwards;
}

.circleAlert {
  stroke: rgb(219, 19, 19);
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 0.2s ease-out backwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 100 0;
  }
}

.labelX {
  color: white;
  cursor: default;
  display: block;
  font-size: 2.3em;
  position: absolute;
  text-align: center;
  top: 106px;
  left: 132px;
}

.tblDivTool{
  overflow: auto;
  max-height: 180px;
}

.tblDivMain{
  overflow: auto;
  max-height: 589px;
}

.spnStats{
  font-size: 2.0em;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.vidElement{
  margin-left: -2px;
  display: block;
  z-index: 20;
  height: 425px;
  width: 605px;
}

.vidCoverElement{
  top:57px;
  left: 25px;
  position: absolute;
  z-index: 50;
  height: 425px;
  width: 612px;
  background-color: rgb(70, 69, 69);
  text-align: center;
  line-height: 425px;
}

.float-right{
  position: absolute;
  top:5px;
  right: 20px;
}

.vidCoverSpan{
  text-shadow: #fff;
  font-size: 2em;
  font-weight: bolder;
  color: rgb(47, 52, 59);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.feedDiv{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 810px;
}

.feedElement{
  display: block;
  z-index: 20;
  max-width: 400px;
  margin: 10px;
}

.feedElementHeader{
  display: block;
  z-index: 20;
}

.borderedDiv{
  border: solid 1px rgba(194, 191, 191, 0.856);
}

.pannelBodySlim{
  padding: 5px !important;
}

.pannelCellSlimLeft{
  padding-left: 5px !important;
}
.pannelCellSlimRight{
  padding-right: 5px !important;
}

.pannelSlim{
  margin-bottom: 5px !important;
}

body{
  overflow:hidden;
}