
#uiWrapper{
  padding: 10px;
  width: 100%;
  height: 100%;
}

.ant{
    z-index: 100;
    position: absolute;
    filter: hue-rotate(180deg);
    filter: brightness(0.25);
}

.antX{
    z-index: 100;
    position: absolute;
    filter: invert(100%); 
    height: 50px;
    margin-left: 10px;
    margin-top: -5px;
}

.antsContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90;
}

#grid{
  margin-top: 5px;
}

#gridContainer {
    min-height: 380px;
    color:#fff;
    text-align:center;
    background-image: url('../../images/bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;

    -webkit-animation: backgroundScroll;
    -webkit-animation-delay: 1;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    
    animation: backgroundScroll;
    animation-delay: 1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -180px 0px;}
}
@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -180px 0px;}
}